<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../behaviors/validation.behavior.html">

<dom-module id="form-view">
  <template>
    <style include="shared-styles">
       :host {
        display: block;
      }

      #wrapper {
        height: 100vh;
      }

      #form-wrapper {
        width: 30rem;
        max-width: calc(100% - 2rem);
      }

      #preview-wrapper {
        background: transparent;
        min-height: 33vh;
        width: 100%;
      }

      #preview {
        max-width: 100%;
      }

      #form {
        padding: 1rem;
      }

      #file {
        display: none;
      }

      paper-progress {
        width: 100%;
        padding: 1rem 0 2rem;
      }
      /*paper-progress[value="0"] {
        visibility: hidden;
      }*/

      #category {
        --paper-input-container-input: {
          font-size: 14px;
        }
      }

      [hidden] {
        display: none;
      }

      img {
        max-width: 60%;
      }
    </style>

    <div id="wrapper" class="layout vertical center-justified center">
      <div id="form-wrapper" class="layout horizontal wrap">
        <div id="preview-wrapper">
          <img id="preview" src$="[[previewSrc]]">
        </div>
        <form id="form" class="flex layout vertical" is="iron-form">
          <paper-input id="location" label="Location" value="{{location}}" type="text"></paper-input>
          <paper-dropdown-menu id="category" label="Category">
            <paper-listbox id="categoryListbox" class="dropdown-content" selected="{{category}}">
              <template is="dom-repeat" items="[[categories]]" as="category">
                <paper-item key="[[category.key]]">[[category.value]]</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>

          <input id="file" is="iron-input" type="file" onchange="this.parentElement.parentElement.parentElement.parentElement.setFile(this)">

          <template is="dom-repeat" items="[[descriptions]]" as="description">
            <div index="[[index]]" class="layout horizontal justified center">
              <paper-input class="flex" always-float-label label="Item description/link" value="{{description}}" type="text" autofocus
                on-value-changed="handleDescriptionChange"></paper-input>
              <paper-icon-button icon="remove-circle-outline" on-click="removeDescription"></paper-icon-button>
            </div>
          </template>

          <div class="layout horizontal justified center">
            <paper-input id="description" class="flex" always-float-label label="Item description/link" value="{{description}}" type="text"
              autofocus></paper-input>
            <paper-icon-button icon="add-circle-outline" on-click="addDescription" disabled$="[[!description]]"></paper-icon-button>
          </div>
          <paper-progress id="progress" value$="[[progress]]"></paper-progress>

          <div class="layout horizontal justified">
            <label id="label" for="file" class="layout horizontal end-justified">
              <paper-button class="secondary" raised>Select Image</paper-button>
              <!--<span class="flex"></span>-->
            </label>
            <paper-button raised class="primary" on-click="upload" disabled$="[[uploadDisabled]]">Upload</paper-button>
          </div>

          <div hidden$="[[!uploadDisabled]]" flex style="margin-top: 1rem;">
            <span>One link and two hashtags required. Make sure to click (+) after entering the last item.</span>
          </div>

          <div class="layout vertical center">
            <h3>Example Upload</h3>
            <img src="/images/sampleuploadimage.png" alt="">
          </div>

        </form>
      </div>
    </div>

  </template>
  <script>
    Polymer({
      is: "form-view",

      behaviors: [ValidationBehavior],

      properties: {
        firebase: Object,
        ref: {
          type: Object,
          computed: '_ref(firebase)'
        },
        postsRef: {
          type: Object,
          computed: '_postsRef(ref)'
        },
        uploadsRef: {
          type: Object,
          computed: '_uploadsRef(firebase)'
        },
        user: Object,
        categories: {
          type: Array,
          value: []
        },
        category: {
          type: Number,
          value: 0
        },
        progress: {
          type: Number,
          value: 0
        },
        file: Object,
        description: String,
        descriptions: {
          type: Array,
          value: []
        },
        previewSrc: String,
        changedFlag: {
          type: Number,
          value: 0
        },
        uploadDisabled: {
          type: Boolean,
          value: true
        }
      },

      // Observers
      observers: ['_uploadDisabled(previewSrc, descriptions, descriptions.splices, changedFlag)'],

      _ref: function (firebase) {
        return firebase.database().ref();
      },

      _postsRef: function (ref) {
        return ref.child('Posts');
      },

      _uploadsRef: function (firebase) {
        return firebase.storage().ref('posts');
      },

      _uploadDisabled: function (previewSrc, descriptions) {
        this.uploadDisabled = !(previewSrc && this.descriptionsIncludeLink(descriptions) && this.descriptionsIncludeTwoHashtags(descriptions));
      },

      handleDescriptionChange: function () {
        this.changedFlag++;
      },

      // Functions
      setFile: function (el) {
        this.set('file', el.files[0]);
        this.handleFile(this.file);
      },

      handleFile: function (file) {
        var reader = new FileReader();

        reader.onload = function (e) {
          this.previewSrc = e.target.result;
        }.bind(this);

        reader.readAsDataURL(file);
      },

      getNewImageRef: function (key, suffix) {
        return this.uploadsRef.child(key + '.' + suffix);
      },

      getPushKey: function () {
        return this.postsRef.push().key
      },

      upload: function () {
        var key = this.getPushKey();
        var imageRef = this.getNewImageRef(key, this.file.name.split('.').pop());
        var metadata = {};

        if (this.description) metadata.description = this.description;
        if (this.location) metadata.location = this.location;

        var uploadTask = imageRef.put(this.file, metadata);

        return uploadTask.then(function (snapshot) {
          this.progress = 100;
          return this.savePost(key, snapshot.downloadURL);
        }.bind(this))
          .then(function () {
            this.fire('alert', 'Upload success');
            this.clearForm();
            this.clearProgressBar();
            this.$.description.focus();
          }.bind(this))
          .catch(function (err) {
            this.fire('error', err);
            this.clearProgressBar();
          }.bind(this));

        uploadTask.on('state_changed', function (snapshot) {
          var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          console.log('Upload is ' + progress + '% done');
          this.progress = progress;
        });
      },

      savePost: function (key, downloadURL) {
        var userName = this.account.userName || this.user.displayName || 'Username missing :(';
        var post = {
          location: this.location || 'Secret Location',
          userEmail: this.account.userEmail || this.user.email || 'Email missing :(',
          userId: this.user.uid,
          userName: userName,
          profileImage: this.account.userImage || this.user.photoURL || 'User profile image missing :(',
          userImage: downloadURL
        };
        var updates = {};

        if (this.description) {
          this.push('descriptions', this.description);
        }

        if (this.descriptions.length) {
          post.comments = {};
        }

        this.descriptions.filter(function (description) {
          return !!description;
        }).forEach(function (description) {
          description = this.scrubDescription(description);

          var comment = {
            Dislike: 0,
            Like: 1,
            userComment: description,
            userId: this.user.uid,
            userName: userName
          };
          var likes = {};

          likes[this.getPushKey()] = { userId: this.user.uid };
          comment.likes = likes;

          post.comments[this.getPushKey()] = comment;
        }.bind(this));

        if (typeof this.category == 'number' && this.categories.length) {
          post.category = this.categories[this.category].value;
        }

        updates['/Users/' + this.user.uid + '/posts/' + key + '/postId'] = key;
        updates['/Posts/' + key] = post;

        return this.ref.update(updates);
      },

      clearProgressBar: function () {
        setTimeout(function () {
          this.progress = 0;
        }.bind(this), 1000);
      },

      clearForm: function () {
        this.previewSrc = '';
        this.description = '';
        this.removeDescriptions();
        this.focusOnDescription();
      },

      addDescription: function () {
        if (this.description) {
          this.push('descriptions', this.description);
          this.description = '';
          this.focusOnDescription();
        }
      },

      removeDescription: function (e) {
        var target = e.target;
        var index = this.getParentElIndex(target);
        this.splice('descriptions', index, 1);
        this.focusOnDescription();
      },

      removeDescriptions: function () {
        this.splice('descriptions', 0, this.descriptions.length);
      },

      getParentElIndex: function (el) {
        if (typeof el.index != 'undefined') return el.index;
        return this.getParentElIndex(el.parentElement);
      },

      focusOnDescription: function () {
        this.$.description.focus();
      }

    });
    
  </script>
</dom-module>